html, body {
	background-color:#34005A;
	color:white;
}

h1{
    color: #FCA205;
    font-size: 7em;
    font-family: Russo One;
}

body {
    padding-left: 15px;
}

.post{
	background: 
	font-color: white;
	font-family: Arial;
	font-style: bold;
	background: rgba(0,0,0,.6);
	border-radius: 10px;
	padding: 10px 20px;
	margin: 5px;
}
.post h1{
	font-color: white;
	font-family: Arial;
	font-size: 2em;
}

.post h1 a{
	font-style: inherit;
}